*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/_windows
/codestyles
androidStudioFirstRun.xml
colors.scheme.xml
debugger.xml
editor.xml
filetypes.xml
github.xml
notifications.xml
project.default.xml
ui.lnf.xml
wsl.distributions.xml